@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model LIAuppgift.Models.ViewModels.ProductListingPageViewModel

<h1>Listing all products</h1>
<div class="products-all">
    @foreach (var product in Model.Products)
    {
        <div class="products-single">
            <div @Html.EditAttributes(x => product.ProductImage)>
                <img class="product-listing-image" src="@Url.ContentUrl(product.ProductImage)" />
            </div>
            <h4><a href="@Url.ContentUrl(product.ContentLink)">@product.Heading</a></h4>
        </div>
    }
</div>