@model LIAuppgift.Models.ViewModels.CartPageViewModel

<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Product
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Quantity
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Price (single)
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Price (sum)
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                <div>Remove item</div>
                                <div><button type="submit" Class="button-remove">X</button></div>
                            </th>
                            <th scope="col" class="relative px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var cartItem in Model.CartItems)
                        {
                            <tr class="bg-gray-50 hover:bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"> 
                                    @cartItem.ProductName 
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> 
                                    @cartItem.Quantity 
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    @cartItem.ConvertedPrice
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    @cartItem.SumPrice
                                </td>
                                <td  class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <form method="post" action="">
                                        <input type="checkbox" value="" name="" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>                    
                </table>
            </div>
        </div>
    </div>
</div>