@model LIAuppgift.Models.ViewModels.CartPageViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/css/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <ul class="cart-items">
        @foreach (var cartItem in Model.CartItems)
        {
            <li>
                <div class="cart-item">
                    <div class="cart-item-name">@cartItem.Name</div>
                    <div class="cart-item-price">@cartItem.Price</div>
                    <div class="cart-item-price">@cartItem.Quantity</div>
                    <form method="post" action="">
                        <input type="hidden" value="" name="" />
                        <button type="submit" Class="button-remove">Remove</button>
                    </form>
                </div>
            </li>
        }
    </ul>

</body>
</html>