@model LIAuppgift.Models.ViewModels.CartPageViewModel

<h1 class="h1-cart">Shopping Cart</h1>
<table id="products">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price (single)</th>
        <th>Price (sum)</th>
        <th class="remove-heading">
            <div>Remove item</div>
            <div><button type="submit" Class="button-remove">X</button></div>
        </th>
    </tr>
    @foreach (var cartItem in Model.CartItems)
    {
        <tr>
            <td>@cartItem.ProductName</td>
            <td>
                <form>
                    <input type="number" id="" name="" value="@cartItem.Quantity">
                </form>
            </td>
            <td>@cartItem.ProductPrice</td>
            <td>@cartItem.SumPrice</td>
            <td>
                <form method="post" action="">
                    <input type="checkbox" value="" name="" />
                </form>
            </td>
        </tr>
    }
</table>
